html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video
{
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin:0;
    padding:0
}
body{
    line-height:1
}
article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{
    display:block
}
nav ul{
    list-style:none
}
ol{
    list-style:decimal
}
ul{
    list-style:disc
}
ul ul{
    list-style:circle
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
    content:none
}
ins{
    text-decoration:underline
}
del{
    text-decoration:line-through
}
mark{
    background:none
}
abbr[title],dfn[title]{
    border-bottom:1px dotted #000;
    cursor:help
}
table{
    border-collapse:collapse;
    border-spacing:0
}
hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0
}
input[type=submit],input[type=button],button{
    margin:0;
    padding:0;
}
input,select,a img{
    vertical-align:middle
}
/**/

body, main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
header, main{
    width: 100%;
}
.products__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content__product_block{
    width: 30%;
    text-align: center;
    padding: 2.5% 0 0 0;
    aspect-ratio: 0.75/1;
    background-color: #02CBA7;
    margin: 2.5% 1.5% 2.5% 1.5%;
}
.product_block__image{
    width: 85%;
    height: 50%;
}
.product_block__text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.product_block__text h1{
    font-size: 2vw;
    margin: 2.5% 0 2.5% 0;
}
.product_block__text p{
    font-size: 1.25vw;
    margin: 2.5% 0 2.5% 0;
}
.text_product__description{
    width: 90%;
    font-size: ;
    text-align: justify;
}
.details_main{
    width: 95%;
    aspect-ratio: 2.355;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: aquamarine;
}
.info_top{
    display: flex;
    justify-content: space-evenly;
}
.product_images_slider{
    width: 65%;
    aspect-ratio: 1.875;
    background-color: wheat;
}
.slider__image{
    width: 100%;
}
.product_right{
    width: 30%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.product_right__top{
    width: 100%;
}
.product_right h1{
    font-size: 1.5vw;
}
.prod_info_line{
    display: flex;
    justify-content: space-between;
}
.prod_info_line p{
    font-size: 1.25vw;
    margin: 1.5% 0 1.5% 0;
}
.info_line_value{
    width: 100%;
    text-align: end;
}
.product_dm{
    width: 100%;
    padding: 2.5%;
    font-size: 2.5vw;
    font-weight: bold;
}